# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint
from api_keys import g_key
gmaps.configure(api_key = g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:

output_data_file = "cities.csv"

types_df = pd.read_csv(output_data_file)

weather_data_df = types_df.drop(columns=["Unnamed: 0"])
weather_data_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,lebu,91,CL,1587235501,68,-37.62,-73.65,64.29,6.55
1,mataura,100,NZ,1587235369,93,-46.19,168.86,42.01,5.01
2,bara,65,NG,1587235303,9,10.37,10.73,92.21,2.04
3,punta arenas,20,PH,1587235499,77,8.99,125.34,77.34,5.01
4,nara,99,JP,1587235597,55,34.69,135.80,55.99,1.99
...,...,...,...,...,...,...,...,...,...
551,komsomolskiy,6,UZ,1587235301,47,40.43,71.72,59.00,6.93
552,zemio,39,CF,1587235837,65,5.03,25.14,75.29,3.40
553,dalvik,90,IS,1587235509,57,65.97,-18.53,50.00,49.44
554,sao gabriel da cachoeira,30,IN,1587235837,19,20.51,76.21,89.26,10.18
555,mangrol,0,IN,1587235837,63,21.12,70.12,81.91,13.35

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
locations = weather_data_df[["Lat", "Lng"]]

humidity = weather_data_df["Humidity"].astype(float)

fig = gmaps.figure()

heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                   dissipating=False, max_intensity=5,
                                   point_radius=1)

fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
new_types_df = pd.DataFrame(weather_data_df, columns = ["City", "Max Temp", "Wind Speed", "Cloudiness"])

max_temp = (new_types_df["Max Temp"] <= 80) & (new_types_df["Max Temp"] > 70)
wind_speed = new_types_df["Wind Speed"] < 10
cloudiness = new_types_df["Cloudiness"] == 0

new_types_df[max_temp & wind_speed & cloudiness]

          City  Max Temp  Wind Speed  Cloudiness
179    angoche     78.80        8.16           0
204     mackay     73.00        4.70           0
281    xai-xai     73.60        9.51           0
308  olavarria     75.99        5.01           0
375      moron     78.01        9.04           0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = pd.DataFrame(weather_data_df, columns=["City", "Country", "Lat", "Lng"])

hotel_df["Hotel Name"] = ""
hotel_df

                         City Country    Lat     Lng Hotel Name
0                        lebu      CL -37.62  -73.65
1                     mataura      NZ -46.19  168.86
2                        bara      NG  10.37   10.73
3                punta arenas      PH   8.99  125.34
4                        nara      JP  34.69  135.80
..                        ...     ...    ...     ...        ...
551              komsomolskiy      UZ  40.43   71.72
552                     zemio      CF   5.03   25.14
553                    dalvik      IS  65.97  -18.53
554  sao gabriel da cachoeira      IN  20.51   76.21
555                   mangrol      IN  21.12   70.12

[556 rows x 5 columns]

In [7]:
target_coordinates = f"{hotel_df['Lat'][0]},{hotel_df['Lng'][0]}"
target_search = "hotel"
target_radius = 5000
target_type = "hotel"

params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

response = requests.get(base_url, params=params)

In [8]:
hotel_df.iloc[0][0]

'lebu'

In [9]:
hotel_name = []

params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]

    params["location"] = f"{lat},{lng}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    name_address = requests.get(base_url, params=params)
    
    name_address = name_address.json()
    try:
        hotel_name.append(name_address['results'][0]['name'])
    except IndexError:
        hotel_name.append(np.nan)
        
hotel_df['Hotel Name']= hotel_name
hotel_df.dropna()
hotel_df.to_csv('hotel.csv')

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))